body {
    height: 100%;
}

.container {
    overflow: auto !important;
}

.trClass {
    background-color: white;
}

.bc-greyLight {
    background-color: #eaeaea;
}

.radioButton {
    width: 20px;
    height: 20px;
}

.center {
    width: 100%;
    max-height: 100% !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.label {
    color: white;
}

.icon {
    color: white;
}

.check-circle-solid {
    background-image: url("../icon/check-circle-solid.svg");
    background-repeat: no-repeat;
    border-radius: 40px;
    background-color: red;
    width: 30px;
    height: 30px;
}

.btnBack a {
    color: white;
    text-decoration: none;
}

.buttonNext {
    display: flex;
    float: right;
}

.icon {
    margin-left: -10px;
    margin-right: 5px;
}

.button button {
    float: right !important;
}

.input-file {
    margin-bottom: 40px;
}

.input-file .input-group {
    margin-bottom: 8px;
}

.input-group a {
    text-decoration: none;
    color: white;
}

.title-columns {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bc-green {
    background-color: green;
}

.bc-red {
    background-color: red;
}

#table-planilhas tr:hover {
    background-color: #BBB;
}

#table-planilhas .nome-planilha {
    cursor: pointer;
}

.bg-gray {
    background-color: #888;
    color: white;
}

.campo-busca {
    display: flex;
    justify-content: right;
}

.campo-busca {
    width: 40%;
    float: right;
}

.scroll {
    overflow: auto;
    max-height: 230px;
}

.scroll2 {
    overflow: auto;
    max-height: 400px;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.mt-10 {
    margin-top: 10px;
}

.mt-10-negative {
    margin-top: -10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-10-negative {
    margin-bottom: -10px;
}

.menu{
    margin-top: 20px;
}

.menu-item{
    margin-left: -40px;
}

.btnInicio{
    width: 30%;
    display: flex;
    justify-content: center;

}